<div class="row">
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="layers"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        No Sale
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="pie-chart"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        Store Status
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="clock"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        Card Batch Close
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button>
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="user"></i-feather>
                </div>
                <span class="d-block text-gray" data-toggle="modal" data-target="#openticketsModal">
                    Open Tickets
                </span>

            </mat-card-content>
        </mat-card>
        </button>
    </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button data-toggle="modal" data-target="#authorizeModal">
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="alert-circle"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        Authorize
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button data-toggle="modal" data-target="#usersClockedInModal">
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="bar-chart-2"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        Clocked in users
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button data-toggle="modal" data-target="#noSaleModal">
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="layers"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        Tips Management
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="bar-chart-2"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        Declare Tips
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="bar-chart-2"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        Assign Cash Drawer
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
            <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
                <mat-card-content>
                    <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                        <i-feather name="bar-chart-2"></i-feather>
                    </div>
                    <span class="d-block text-gray">
                        Server Summary
                    </span>
                </mat-card-content>
            </mat-card>
        </button>
    </div>

    <div class="icon">
        <button class="exit-button">
            Exit
        </button>
    </div>
</div>




<!-- Tips Management Modal -->

<div class="modal fade" id="noSaleModal" tabindex="-1" role="dialog" aria-labelledby="noSaleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noSaleModalLabel">Tips Management</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 d-flex">
                            <mat-card
                                class="trinta-card profile-intro-card mb-25 bg-white border-none d-block flex-grow-1">
                                <mat-card-header>
                                    <mat-card-title>
                                        <h5 class="mt-0 mb-0">Users</h5>
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="user-select">

                                        <select id="userSelect" class="form-select" multiple
                                            (change)="onUserSelect($event)">
                                            <option value="">All</option>
                                            <option *ngFor="let user of users" [value]="user.id">{{ user.username }}
                                            </option>
                                        </select>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-9 d-flex">
                            <mat-card
                                class="trinta-card profile-intro-card mb-25 bg-white border-none d-block flex-grow-1">
                                <mat-card-header>
                                    <mat-card-title>
                                        <h5 class="mt-0 mb-0">Users Details</h5>
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="row">
                                        <div class="col-12 d-flex">
                                            <div>

                                                <p *ngIf="!selectedUserId">
                                                    <strong>Showing details for all users</strong>
                                                </p>
                                                <table *ngIf="!selectedUserId"
                                                    style="width: 155%; border: 1px solid #b0acac; border-collapse: collapse;">
                                                    <thead>
                                                        <tr>
                                                            <th
                                                                style="border: 1px solid #b0acac; padding: 8px; width: 20%;">
                                                                <h6>User Id</h6>
                                                            </th>
                                                            <th
                                                                style="border: 1px solid #b0acac; padding: 8px;width: 20%;">
                                                                <h6>First Name</h6>
                                                            </th>
                                                            <th
                                                                style="border: 1px solid #b0acac; padding: 8px;width: 20%;">
                                                                <h6>Last Name</h6>
                                                            </th>
                                                            <th
                                                                style="border: 1px solid #b0acac; padding: 8px;width: 20%;">
                                                                <h6>Due</h6>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let user of users">
                                                            <td>{{ user.id }}</td>
                                                            <td>{{ user.firstName }}</td>
                                                            <td>{{ user.lastName }}</td>
                                                            <td>{{ user.Due }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <p *ngIf="selectedUserId">
                                                    <strong>User ID:</strong> {{ selectedUserId }}
                                                </p>
                                                <p *ngIf="selectedUsername">
                                                    <strong>Username:</strong> {{ selectedUsername }}
                                                </p>
                                                <p *ngIf="selectedUsername"> <strong> User Details :</strong></p>
                                                <table *ngIf="selectedUserId"
                                                    style="width: 150%; border: 1px solid #b0acac; border-collapse: collapse;">
                                                    <thead>
                                                        <tr>
                                                            <th
                                                                style="border: 1px solid #b0acac; padding: 8px; width: 20%;">
                                                                <h6>User Id</h6>
                                                            </th>
                                                            <th
                                                                style="border: 1px solid #b0acac; padding: 8px;width: 20%;">
                                                                <h6>First Name</h6>
                                                            </th>
                                                            <th
                                                                style="border: 1px solid #b0acac; padding: 8px;width: 20%;">
                                                                <h6>Last Name</h6>
                                                            </th>
                                                            <th
                                                                style="border: 1px solid #b0acac; padding: 8px;width: 20%;">
                                                                <h6>Due</h6>
                                                            </th>
                                                        </tr>
                                                    </thead>

                                                </table>
                                                <p *ngIf="selectedUserId">Due Amount :{{ selectedDue }}</p>

                                                <p *ngIf="!selectedUserId">Total Due Amount : {{ totalDue }}</p>

                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary me-2" id="historyButton" data-toggle="modal"
                    data-target="#history">History</button>
                <button type="button" class="btn btn-sm btn-primary me-2" data-bs-dismiss="modal"
                    id="detailsButton">Details</button>
                <button type="button" class="btn btn-sm btn-primary me-2" id="payButton">Pay</button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"
                    id="cancelButton">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- open t Modal -->

<div class="modal fade" id="openticketsModal" tabindex="-1" role="dialog" aria-labelledby="openticketsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openticketsModalLabel">Open Tickets</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div style="margin-bottom: 20px;"></div>

              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchTerm">
                <button class="btn btn-outline-secondary btn-sm btn-search" style="font-size: 0.875rem; padding: 0.375rem 0.6rem; background-color: #dcd9d9; color: #333; border-color: #ccc;" type="button" (click)="searchTickets()">Search</button>
              </div>
              <mat-card class="trinta-card profile-intro-card mb-25 bg-white border-none d-block flex-grow-1">
                <mat-card-header>
                  <mat-card-title>
                    <h5 class="mt-0 mb-0">Tickets Details</h5>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Token</th>
                        <th scope="col">Order type</th>
                        <th scope="col">Server</th>
                        <th scope="col">Total</th>
                        <th scope="col">Due</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ticket of filteredTickets">
                        <td>{{ ticket.token }}</td>
                        <td>{{ ticket.orderType }}</td>
                        <td>{{ ticket.server }}</td>
                        <td>{{ ticket.total }}</td>
                        <td>{{ ticket.due }}</td>
                      </tr>
                    </tbody>
                  </table>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary me-2" id="settleAllButton" data-bs-dismiss="modal">Settle All</button>
        <button type="button" class="btn btn-sm btn-primary me-2" id="transferAllButton" data-bs-dismiss="modal">Transfer All</button>
        <button type="button" class="btn btn-sm btn-success" id="doneButton" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>



<!-- Authorize Modal -->
<!-- Authorize Modal -->
<div class="modal fade" id="authorizeModal" tabindex="-1" role="dialog" aria-labelledby="authorizeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authorizeModalLabel">Authorize Transactions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-scrollable">
        <div class="container">
          <div class="row">
            <div>
              <button type="button" class="btn btn-sm btn-dark me-2" id="captureWaitingButton" style="background-color: #fceabd; color: #333; margin-right: 10px;">Capture Waiting</button>
              <button type="button" class="btn btn-sm btn-dark me-2" id="capturedButton" button data-toggle="modal" data-target="#capturedModal"style="background-color: #fceabd; color: #333;">Captured</button>
              <div style="margin-bottom: 10px;"></div>
              <div class="input-group mb-3">
                <select class="form-select" aria-label="Select Terminal" style="margin-left: 10px;" [(ngModel)]="selectedTerminal">
                  <option value="">Select Terminal</option>
                  <option value="Terminal 1">Terminal 1</option>
                  <option value="Terminal 2">Terminal 2</option>
                  <option value="Terminal 3">Terminal 3</option>
                </select>
                <select class="form-select" aria-label="Select User" style="margin-left: 10px;" [(ngModel)]="selectedUser">
                  <option value="">Select User</option>
                  <option value="User 1">User 1</option>
                  <option value="User 2">User 2</option>
                  <option value="User 3">User 3</option>
                </select>
                <input type="text" class="form-control" placeholder="Ticket ID" aria-label="Ticket ID" aria-describedby="basic-addon2" style="width: 150px; margin-left: 10px;" [(ngModel)]="searchTerm1">
                <button class="btn btn-outline-secondary btn-sm btn-search" type="button" style="margin-left: 10px; background-color: #90551b; color: #dcd9d9;" (click)="searchTransactions()">Search</button>
                <button class="btn btn-outline-secondary btn-sm btn-clear" type="button" style="margin-left: 5px;background-color: #90551b; color: #dcd9d9;" (click)="clearSearch()">Clear</button>
              </div>
              <mat-card class="trinta-card profile-intro-card mb-25 bg-white border-none d-block flex-grow-1">
                <mat-card-header>
                  <mat-card-title>
                    <h5 class="mt-0 mb-0">Transaction Details</h5>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Transaction ID</th>
                          <th scope="col">Ticket ID</th>
                          <th scope="col">Gateway</th>
                          <th scope="col">Owner</th>
                          <th scope="col">Card Type</th>
                          <th scope="col">Card No</th>
                          <th scope="col">Card Holder</th>
                          <th scope="col">Tips</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let transaction of filteredTransactions">
                          <td>{{ transaction.transactionId }}</td>
                          <td>{{ transaction.ticketId }}</td>
                          <td>{{ transaction.gateway }}</td>
                          <td>{{ transaction.owner }}</td>
                          <td>{{ transaction.cardType }}</td>
                          <td>{{ transaction.cardNo }}</td>
                          <td>{{ transaction.cardHolder }}</td>
                          <td>{{ transaction.tips }}</td>
                          <td>{{ transaction.amount }}</td>
                          <td>{{ transaction.total }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-dark me-2" id="hideButton" style="background-color: #ae8827; color: #333;">Edit Tips</button>
        <button type="button" class="btn btn-sm btn-dark me-2" id="captureAllButton" style="background-color: #fceabd; color: #333;">Capture</button>
        <button type="button" class="btn btn-sm btn-dark me-2" id="captureButton" style="background-color: #fceabd; color: #333;">Capture All</button>
        <button type="button" class="btn btn-sm btn-dark me-2" id="editTipsButton" style="background-color: #fceabd; color: #333;">Hide</button>
        <button type="button" class="btn btn-sm btn-success" id="closeButton" style="background-color: rgb(160, 0, 0); color: #ffffff;" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Captured Modal -->
<div class="modal fade" id="capturedModal" tabindex="-1" role="dialog" aria-labelledby="capturedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="capturedModalLabel">Captured Transactions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body modal-scrollable">
        <div class="container">
          <div class="row">
            <div>
              <!-- Buttons at the top of the modal -->
              <button type="button" class="btn btn-sm btn-dark" id="captureWaitingButtonInCaptured" style="background-color: #fceabd; color: #333;">Capture Waiting</button>
                            <button type="button" class="btn btn-sm btn-dark me-2" id="capturedButton" style="background-color: #fceabd; color: #333;">Captured</button>
              <div style="margin-bottom: 10px;"></div>
              <!-- Search bar with selectors -->
              <div class="input-group mb-3">
                <select class="form-select" aria-label="Select Terminal" style="margin-left: 10px;" [(ngModel)]="selectedTerminal">
                  <option value="">Select Terminal</option>
                  <option value="Terminal 1">Terminal 1</option>
                  <option value="Terminal 2">Terminal 2</option>
                  <option value="Terminal 3">Terminal 3</option>
                </select>
                <select class="form-select" aria-label="Select User" style="margin-left: 10px;" [(ngModel)]="selectedUser">
                  <option value="">Select User</option>
                  <option value="User 1">User 1</option>
                  <option value="User 2">User 2</option>
                  <option value="User 3">User 3</option>
                </select>
                <input type="text" class="form-control" placeholder="Ticket ID" aria-label="Ticket ID" aria-describedby="basic-addon2" style="width: 150px; margin-left: 10px;" [(ngModel)]="searchTerm1">
                <button class="btn btn-outline-secondary btn-sm btn-search" type="button" style="margin-left: 10px; background-color: #90551b; color: #dcd9d9;" (click)="searchTransactions()">Search</button>
                <button class="btn btn-outline-secondary btn-sm btn-clear" type="button" style="margin-left: 5px; background-color: #90551b; color: #dcd9d9;" (click)="clearSearch()">Clear</button>
              </div>
              <!-- Transaction details table -->
              <mat-card class="trinta-card profile-intro-card mb-25 bg-white border-none d-block flex-grow-1">
                <mat-card-header>
                  <mat-card-title>
                    <h5 class="mt-0 mb-0">Transaction Details</h5>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Transaction ID</th>
                          <th scope="col">Ticket ID</th>
                          <th scope="col">Gateway</th>
                          <th scope="col">Owner</th>
                          <th scope="col">Card Type</th>
                          <th scope="col">Card No</th>
                          <th scope="col">Card Holder</th>
                          <th scope="col">Tips</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let transaction of filteredTransactions">
                          <td>{{ transaction.transactionId }}</td>
                          <td>{{ transaction.ticketId }}</td>
                          <td>{{ transaction.gateway }}</td>
                          <td>{{ transaction.owner }}</td>
                          <td>{{ transaction.cardType }}</td>
                          <td>{{ transaction.cardNo }}</td>
                          <td>{{ transaction.cardHolder }}</td>
                          <td>{{ transaction.tips }}</td>
                          <td>{{ transaction.amount }}</td>
                          <td>{{ transaction.total }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-dark me-2" id="hideButton" style="background-color: #ae8827; color: #333;">Hide</button>
        <!-- Remove other buttons if not needed -->
      </div>
    </div>
  </div>
</div>
<style>
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
  }
  .modal-dialog {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  .close-button {
    cursor: pointer;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var authorizeModal = document.getElementById('authorizeModal');
    var capturedModal = document.getElementById('capturedModal');
    var captureWaitingButton = document.getElementById('captureWaitingButtonInCaptured');
    var closeButtonAuthorize = document.getElementById('closeButton');
    var closeButtonCaptured = document.querySelector('#capturedModal .close-button');
    var captureWaitingButtonAuthorize = document.getElementById('captureWaitingButton');
    var hideButtonInCaptured = document.getElementById('hideButtonInCaptured');

    function openModal(modal) {
      modal.style.display = 'flex';
    }

    function closeModal(modal) {
      modal.style.display = 'none';
    }

    // Open Authorize Modal
    openModal(authorizeModal);

    // Close Authorize Modal
    closeButtonAuthorize.addEventListener('click', function () {
      closeModal(authorizeModal);
    });

    // Close Captured Modal
    closeButtonCaptured.addEventListener('click', function () {
      closeModal(capturedModal);
    });

    // Show Captured Modal and hide Authorize Modal
    captureWaitingButtonAuthorize.addEventListener('click', function () {
      closeModal(authorizeModal);
      openModal(capturedModal);
    });

    // Hide Captured Modal
    hideButtonInCaptured.addEventListener('click', function () {
      closeModal(capturedModal);
    });

    // Show Authorize Modal from Captured Modal
    captureWaitingButton.addEventListener('click', function () {
      closeModal(capturedModal);
      openModal(authorizeModal);
    });
  });
</script>

<!-- Users Clocked In Modal -->
<div class="modal fade" id="usersClockedInModal" tabindex="-1" role="dialog" aria-labelledby="usersClockedInModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="usersClockedInModalLabel">Following Users Are Clocked In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body modal-scrollable">
        <div class="container">
          <div class="row">
            <div>
              <!-- User Status Table -->
              <mat-card class="trinta-card profile-intro-card mb-25 bg-white border-none d-block flex-grow-1">
                <mat-card-header>
                  <mat-card-title>
                    <h5 class="mt-0 mb-0">User Status</h5>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">User</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>User 1</td>
                          <td><button type="button"  data-toggle="modal" data-target="#confirmationModal" class="btn btn-danger">Force Clock Out</button></td>
                        </tr>
                        <tr>
                          <td>User 2</td>
                          <td><button type="button" class="btn btn-danger">Force Clock Out</button></td>
                        </tr>
                        <!-- Ajoutez d'autres lignes ici si nécessaire -->
                      </tbody>
                    </table>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-dark" style="background-color: rgb(13, 132, 0); color: #333;" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Are you sure you want to clock out?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" id="confirmClockOutButton">Yes</button>
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" >No</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const cancelClockOutButton = document.getElementById('cancelClockOutButton');

    cancelClockOutButton.addEventListener('click', function () {
      // Fermer le modal de confirmation
      const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
      confirmationModal.hide();

      // Ouvrir le modal des utilisateurs clockés
      const usersClockedInModal = new bootstrap.Modal(document.getElementById('usersclockedinModal'));
      usersClockedInModal.show();
    });
  });
</script>

